.heading, .body {
    padding:10px;
    margin:10px;
}
.big {
    font-size: 24px;
}
.medium {
    font-size: 18px;
}
.page {
    margin:10px;
    padding:10px;
    background-color: white;
}
a {
    color:black;
}
a:hover{
    color:black;
    text-decoration: none;
}
/*.panel {
    box-shadow: 2px 2px 1px #888888;
}
.panel:hover {
    box-shadow: 4px 4px 2px #888888;
}*/
body {
    background-color: #929090;
}