/* CSS Scripts for the Landing Page for GBLS, created by JumboCode Spring 2016! */

#page {
	margin: 0;
	padding:0;
	width: 96%;

}
.img_button {
	width:30px;
}
.clientPage{
	text-align: center;
	background-color: #929090;
}
.buttons{
	padding-top: 5%;
	padding-left: 5%;
	padding-right: 5%;
}
.button1{
	/*color: #9F0303;*/
	/*background-color: #9F0303;*/
	text-align: center;
	display: inline;
	padding-right: 5%;
}
button.circle{
	font-size: 1.5em;
	color: white;
	width: 100px;
	height: 100px;
	/*text-align: center;*/
	padding: 15px 0;
	font-size: 30px;
	line-height: 2.00;
	border-radius: 70px;
	background-color: white;

}
.clicked {
	background-color: #500807 !important;
		border-color: #500807 !important;
}
.unclicked {
	background-color: #9F0303 !important;
		border-color: #9F0303 !important;
}
.button2{
	text-align: center;
	display: inline;
}
.button3{
	display: inline;
	text-align: center;
	padding-right: 5%;
}
.button4{
	display: inline;
}
.carousel-control{
	background-color: #929090;
	width: 0;
	font-size: 100px;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev{
	font-size: 500px;
	margin-top: -1em;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev{
	font-size: 80px;
	margin-top: -1em;
}
.progress{
	text-align: center;
	width: 80%;
	margin: 0 auto;
	float: none;
	margin-top: 2%;
}
.prog-custom{
	background: #830101 !important;
}

