.nav{
	font-size: 1.5em;
	background-color: #500807;
	text-align: center;
}
.navbar-collapse{
	background-color: #500807;
	border-color: #500807;
}
.navbar-default{
	background-color: #500807;
	border-color: #500807;
}
.navbar-header{
	background-color: #500807;
	border-color: #500807;
}
.ourNav{
	background-color: #500807;
	border-color: #500807;
	color: #dbdbdb;
}

.input-group{
	margin-right: auto;
	margin-left: auto;
}
