<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <title>Greater Boston Legal Services Client View</title>
        <meta name="author"      content="Isaiah and Rachael"/>
        <meta name="revised"     content="March 20th, 2016"/>
        <meta name="description" content="Client View Page for GBLS Client Affadavit Creation Tool, Created by JumboCode Spring 2016"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="css/clientView.css">
        <link rel="stylesheet" type="text/css" href="css/navBar.css">

    </head>  

<body class="clientPage">
  

    <!-- ================================= THE JAVASCRIPT =================================== -->        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <!-- Latest compiled and minified JavaScript for Bootstrap CDN -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <!-- ANGULAR CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

        <!-- our js code -->
        <script type="text/javascript" src="clientView.js"></script>
        
    <!-- ================================= END OF THE JAVASCRIPT ================================= -->  

<div ng-controller="videoCtrl" ng-app="videos">
<!-- - - - - - - - - - - - - - NAV BAR - - - - - - - - - - - - - -->
<nav class="navbar navbar-default navbar-inverse" >
  <div class="container-fluid ourNav">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" id="navright">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-user"></i>&nbsp; {{user.fname}} 
           <span class="caret"></span></a>
          <ul class="dropdown-menu" id="options">
            <li><a href="#">Change Password</a></li>
            <li><a href="history.html" ng-show="hasorisclient()">History</a></li>
            <li><a href="clientlist.html" ng-show="hasclient()">Client List</a></li>
            <li><a href="admin.html" ng-show="isadmin()">Admin Home</a></li>
            <li><a href="home.html">Log Out</a></li>
          </ul>
        </li>
        <li><a href="#"><i class="glyphicon glyphicon-cog"></i></a></li>
        <li><a id="listlink" href="history.html"><i class="glyphicon glyphicon-list"></i></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="home.html"><i class="glyphicon glyphicon-log-out"></i></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<span class="glyphicons glyphicons-user-add"></span>
<!-- - - - - - - - - - - - - - / NAV BAR - - - - - - - - - - - - -->

    <div class="container-fluid" id="page">
        <form>
            
            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-wrap="false">
            <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox" id="videos">
                    <!-- <div class="item-active"> -->
                        <iframe width="720" height="405" ng-src="{{curvid | trustUrl}}" frameborder="0"></iframe>
                    
                        <div class="buttons">
                            <div class="button1">
                                <button ng-click="yes()" type="button"class="unclicked circle"id="b1"><i class="glyphicon glyphicon-ok" class="i_button"></i></button>
                                <!-- <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn btn-circle btn-primary">Yes</a> -->
                            </div>
                            <div class="button2">
                                <button ng-click="no()" type="button" class="unclicked circle"id="b2"><i class="glyphicon glyphicon-remove"class="i_button"></i></button>
                                <!-- <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn btn-circle btn-primary">No</a> -->
                            </div>
                            <div class="button3">
                                <button type="button" class="btn btn-default btn-circle btn-xl">YES</button>
                                <!-- <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn btn-circle btn-primary">Yes</a> -->
                            </div>
                            <div class="button4">
                                <button type="button" class="btn btn-default btn-circle btn-xl">NO</button>
                                <!-- <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn btn-circle btn-primary">No</a> -->
                            </div>
                        <!-- </div> -->
                    </div>
                </div>

            <!-- Left and right controls -->
                <a ng-show = "!firstpage()" class="left carousel-control" href="#myCarousel" role="button" ng-click="prev_vid();" data-slide="prev" id="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Prev</span>
                </a>
                <a ng-show = "!lastpage()" class="right carousel-control" href="#myCarousel" role="button" ng-click="next_vid();" data-slide="next" id="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </form>
        <div class="progress">
            <div class="progress-bar prog-custom" id="red-prog" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ progress }}%">
                {{ progress }}%
            </div>
        </div>
    </div>
    </div>
  </body>
</html>
