<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <title>Greater Boston Legal Services Client Login</title>
        <meta name="author"      content="Eric Snyder"/>
        <meta name="revised"     content="February 28th, 2016"/>
        <meta name="description" content="Login Page for GBLS Client Affadavit Creation Tool, Created by JumboCode Spring 2016"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="navBar.css">
        <style>
        body {
            background-color: #929090;
        }
        .history {
            margin:20px;
            padding:10px;
            background-color: white;
            color:#500807;
            display: block;
            text-align: center;
        }
        .heading {
            font-size: 18px;
        }
        a {
            color:black;
        }
        a:hover{
            color:black;
            text-decoration: none;
        }
        </style>
        
    </head>  

<body>

<div ng-controller="historyCtrl" ng-app="history">

<!-- - - - - - - - - - - - - - NAV BAR - - - - - - - - - - - - - -->
<nav class="navbar navbar-default navbar-inverse" >
  <div class="container-fluid ourNav">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" id="navright">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-user"></i>&nbsp; {{user.fname}} 
           <span class="caret"></span></a>
          <ul class="dropdown-menu" id="options">
            <li><a href="#">Change Password</a></li>
          </ul>
        </li>
        <li><a href="#"><i class="glyphicon glyphicon-cog"></i></a></li>
        <li><a id="listlink" href="history.html"><i class="glyphicon glyphicon-list"></i></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="index.html"><i class="glyphicon glyphicon-log-out"></i></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- - - - - - - - - - - - - - / NAV BAR - - - - - - - - - - - - -->


<div class="history">
    <div class="row">
        <div class="col-xs-4 col-s-4 col-md-4 col-lg-4">
            <img src="images/question.png" alt="question" height="60px" style="padding:10px">
            &nbsp;&nbsp;<span class="heading">Question</span>
        </div>
        <div class="col-xs-4 col-s-4 col-md-4 col-lg-4">
            <img src="images/text.png" alt="text" height="60px">
            &nbsp;&nbsp;<span class="heading">Text</span>
        </div>
        <div class="col-xs-4 col-s-4 col-md-4 col-lg-4">
            <img src="images/replay.png" alt="replay" height="60px" style="padding:10px">
            &nbsp;&nbsp;<span class="heading">Replay</span>
        </div>
    </div>
    <div class="row">
        <div ng-repeat="thing in data">
            <hr>
            <div class="row">
                <div class="col-xs-4 col-s-4 col-md-4 col-lg-4">
                    {{thing.question}}
                </div>
                <div class="col-xs-4 col-s-4 col-md-4 col-lg-4">
                    {{thing.text}}
            </div>
            <div class="col-xs-4 col-s-4 col-md-4 col-lg-4">
                    <div ng-repeat="item in thing.responses">
                        <a href="{{item.link}}"><img src="images/play.png" alt="play" height="20px">&nbsp;&nbsp;{{ item.date }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

    <!-- ================================= THE JAVASCRIPT =================================== -->        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    
        <!-- Latest compiled and minified JavaScript for Bootstrap CDN -->
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <!-- ANGULAR CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
        <script>
            var app = angular.module('history', []);
    
            app.controller('historyCtrl', function($scope, $http) {

                /********************** NAV STUFF ****************************/
                /*
                    Schema for user type:
                    0:  (0000) not a user
                    1:  (0001) client only
                    2:  (0010) lawyer only
                    3:  (0011) lawyer and client
                    4:  (0100) advocate only
                    5:  (0101) advocate and client
                    6:  (0110) advocate and lawyer
                    7:  (0111) advocate, lawyer, and client
                    8:  (1000) administrator only
                    9:  (1001) administrator and client
                    10: (1010) administrator and lawyer
                    11: (1011) administrator, lawyer, and client
                    12: (1100) administrator and advocate
                    13: (1101) administrator, advocate, and client
                    14: (1110) administrator, advocate, and lawyer
                    15: (1111) administrator, advocate, lawyer, and client

                    1 bit turned on == client
                    2 bit turned on == lawyer
                    4 bit turned on == advocate
                    8 bit turned on == administrator
                */
                $scope.user = {
                    'id': 1,
                    'fname': 'James',
                    'lname': 'Smith',
                    'uname': 'JSmith01',
                    'language': 'English',
                    'type' : 15, 
                    'clients': []
                }
                if ($scope.user['type'] & 1) {
                    document.getElementById('options').innerHTML +=
                        '<li><a href="history.html">History</a></li>';
                }
                if ($scope.user['type'] & 2 || $scope.user['type'] & 4) {
                    document.getElementById('options').innerHTML +=
                        '<li><a href="clientlist.html">Client List</a></li>';
                }
                if ($scope.user['type'] & 8) {
                    document.getElementById('options').innerHTML +=
                        '<li><a href="admin.html">Admin Home</a></li>';
                }
                /********************* NAV STUFF END *************************/
                
                $scope.data = [
                    {'question': 1, 'text': 'Whats up?', 
                    'responses': [{'date': '10/12/2015', 'link':'http://www.youtube.com'},
                                  {'date': '10/13/2015', 'link':'http://www.youtube.com'}]},
                    {'question': 2, 'text': 'How are you?', 
                    'responses': [{'date':'10/19/2015', 'link':'http://www.youtube.com'},
                                  {'date': '10/30/2015', 'link':'http://www.youtube.com'}]},
                    {'question': 3, 'text': 'How is it going?', 
                    'responses': [{'date':'11/12/2015', 'link':'http://www.youtube.com'}, 
                                  {'date': '11/14/2015', 'link':'http://www.youtube.com'}]}
                ];
            });
        </script>
        
    <!-- ================================= END OF THE JAVASCRIPT =================================== -->  

  </body>
</html>