<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <title>Greater Boston Legal Services Client Login</title>
        <meta name="author"      content="Eric Snyder"/>
        <meta name="revised"     content="February 28th, 2016"/>
        <meta name="description" content="Login Page for GBLS Client Affadavit Creation Tool, Created by JumboCode Spring 2016"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="css/home.css">
    </head>  


<body class-"login">
  
    <div class="container">

        <!-- JUMBOTRON -->

        <div class="jumbotron" id="input-box" ng-controller="loginCtrl" ng-app="login">
            <h1 id="title">GBLS Affidavit</h1>
            <br>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="Username" ng-model="username" />
                    <i class="glyphicon glyphicon-user form-control-feedback"></i>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Password" ng-model="password"/>
                    <i class="glyphicon glyphicon-lock form-control-feedback"></i>
                </div>
                <br>
                <p class="text-center"><button type="submit" class="btn btn-default btn-lg" ng-click="login()"><i class="glyphicon glyphicon-ok"></i></button></p>
        </div>

        <div></div>

        <!-- FOOTER -->

        <div class="footer">
            <hr>
                <a href="http://www.jumbocode.org"><img src="images/jumbocode.jpg" alt="JumboCode Logo" id="jc-logo"></a>
                <a href="http://www.gbls.org/"><img src="images/gbls_logo.jpg" alt="GBLS Logo" id="gbls-logo"></a>
            <hr>
        </div>

    </div>

    <!-- ================================= THE JAVASCRIPT =================================== -->        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <!-- Latest compiled and minified JavaScript for Bootstrap CDN -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

       <!-- ANGULAR CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
        <script src="home.js"></script>
        
    <!-- ================================= END OF THE JAVASCRIPT =================================== -->  

  </body>
</html>
