/* CSS Scripts for the Landing Page for GBLS, created by JumboCode Spring 2016! */

.login {
	background: 
		linear-gradient(
	      rgba(0, 0, 0, 0.5), 
	      rgba(0, 0, 0, 0.5)
	    ),
	    url(images/Boston-Skyline.jpg) no-repeat center center fixed;
	/*background: url(images/Boston-Skyline.jpg) no-repeat center center fixed;*/
	-webkit-background-size: cover; /* used for Safari/Chrome rendering engine */
  	-moz-background-size: cover; 	/* used for Firefox's Gecko rendering engine */
  	-o-background-size: cover;		/* used for Opera's rendering engine */
  	background-size: cover;
}

#page {
	padding-top: 5%;
	padding-left: 10%;
	padding-right: 10%;
}
.clientPage{
	text-align: center;
	background-color: #7f8c8d;

	/*background-color: #000000;*/
}

.btn-circle {

  	width: 49px;
	height: 49px;
	text-align: center;
	padding: 5px 0;
	font-size: 20px;
	line-height: 2.00;
	border-radius: 30px;
}
.carousel-control{
	background-image: none;
	width: 0;
}
/*.panda{
	padding-left: 20%;
	text-align: center;
}*/