/* CSS Scripts for the Landing Page for GBLS, created by JumboCode Spring 2016! */

.login {
	background: 
		linear-gradient(
	      rgba(0, 0, 0, 0.5), 
	      rgba(0, 0, 0, 0.5)
	    ),
	    url(images/Boston-Skyline.jpg) no-repeat center center fixed;
	/*background: url(images/Boston-Skyline.jpg) no-repeat center center fixed;*/
	-webkit-background-size: cover; /* used for Safari/Chrome rendering engine */
  	-moz-background-size: cover; 	/* used for Firefox's Gecko rendering engine */
  	-o-background-size: cover;		/* used for Opera's rendering engine */
  	background-size: cover;
}

#page {
	margin-top: 25em;
}
{
	background-color: #7f8c8d;
}