<link rel="stylesheet" type="text/css" href="../css/admin.css">
<link rel="stylesheet" type="text/css" href="../css/navBar.css">
<div ng-controller="adminCtrl">
    <div class="login container">

        <!-- JUMBOTRON -->

        <div class="jumbotron" id="input-box">
            <div class="row option">
                <!-- <div class="col-xs-4 col-s-4 col-md-4 col-lg-4 option"> -->
                    <button type="button" ng-click="addUser()"><img src="images/add.png" alt="adduser"/width="30px"></button>&nbsp;&nbsp;  Add  User<br><br>
                <!-- </div>
                <div class="col-xs-4 col-s-4 col-md-4 col-lg-4  option"> -->
                    <button type="button" ng-click="editUser()"><img src="images/edit.png" alt="adduser" width="30px"/></button>&nbsp;&nbsp;  Edit  User<br><br>
               <!--  </div>
                <div class="col-xs-4 col-s-4 col-md-4 col-lg-4  option"> -->
                    <button type="button" ng-click="assignClient()"><img src="images/group.png"  alt="adduser" width="30px"/></button>&nbsp;&nbsp;  Assign  Client
                <!-- </div> -->
            </div>
        </div>

    </div>

    <div class="modal fade" id="myModal1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2>NEW USER</h2>
          </div>
          <div class="modal-body" id="modal-body">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="First Name" ng-model="fname">
            </div>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Last Name" ng-model="lname">
            </div>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Email" ng-model="uname">
            </div>
            <div class="input-group">
                <input type="password" class="form-control" placeholder="Password" ng-model="password">
            </div>
            <div class="input-group">
                User Type:<br>
                <input type="checkbox" name="type" value="lawyer" ng-model="lawyer">&nbsp;&nbsp;Lawyer<br>
                <input type="checkbox" name="type" value="client" ng-model="client">&nbsp;&nbsp;Client<br>
                <input type="checkbox" name="type" value="advocate" ng-model="advocate">&nbsp;&nbsp;Community Advocate<br>
                <input type="checkbox" name="type" value="administrator" ng-model="administrator">&nbsp;&nbsp;Administrator
            </div>
            <div class="input-group">
                <select id="language" ng-model="language">
                  <option value="preference" selected disabled>Language Preference</option>
                  <option value="English">English</option>
                  <option value="Spanish">Spanish</option>
                  <option value="other">Other</option>
                </select>
            </div>
            <div class="input-group">
                <button class="btn btn-default" ng-click="submitNew()" ng-disabled="!enoughnewinfo()"><img src="images/check.png" alt="check" width="20px"/>&nbsp;&nbsp;SUBMIT</button>
                <div class="alert alert-danger" ng-hide="reserror =='' " >
                    <strong>Error: </strong> {{reserror.data.code}}
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="myModal2" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2>EDIT USER</h2>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <select id="usertoedit" ng-model="form" ng-change="openEdit()">
                          <option value="" selected disabled>Choose User</option>
                          <option ng-repeat="user in users" value="{{user.user_id}}">{{user.lname}}, {{user.fname}}</option>
                        </select>
                    </div>
                    <div id="editcontent" hidden>
                         <div class="input-group">
                            <input type="text" class="form-control" placeholder="First Name" ng-model="nowfname">
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Last Name" ng-model="nowlname">
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Username" ng-model="nowuname">
                        </div>
                        <div class="input-group">
                            User Type:<br>
                            <input type="checkbox" name="nowtype" value="lawyer" ng-model="nowlawyer">&nbsp;&nbsp;Lawyer<br>
                            <input type="checkbox" name="nowtype" value="client" ng-model="nowclient">&nbsp;&nbsp;Client<br>
                            <input type="checkbox" name="nowtype" value="advocate" ng-model="nowadvocate">&nbsp;&nbsp;Community Advocate<br>
                            <input type="checkbox" name="nowtype" value="administrator" ng-model="nowadministrator">&nbsp;&nbsp;Administrator
                        </div>
                        <div class="input-group">
                            <select id="nowlanguage" ng-model="nowlanguage">
                              <option value="preference" selected disabled>Language Preference</option>
                              <option value="English">English</option>
                              <option value="Spanish">Spanish</option>
                              <option value="">Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-group">
                        <button class="btn btn-default" ng-click="submitEdit()" data-dismiss='modal' ng-disabled="!enougheditinfo()"><img  src="images/check.png" alt="check" width="20px"/>&nbsp;&nbsp;SUBMIT</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal3" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2>ASSIGN CLIENT</h2>
                </div>
                <div class="modal-body" id="modal-body">
                    <div class="input-group">
                        Assign:<br>
                        <select id="usertopair" ng-model="form2" ng-change="openPair()">
                          <option value="" selected disabled>Choose Client</option>
                          <option ng-repeat="client in clients" value="{{client.id}}">{{client.lname}}, {{client.fname}}</option>
                        </select>
                        <br><br>
                        <div id="paircontent" hidden>
                            To:<br>
                            <div ng-repeat="rep in reps">
                            <input type="checkbox" name="representative" id="{{rep.id}}">&nbsp;&nbsp;{{rep.lname}}, {{rep.fname}}</div>
                        </div>
                        <br><br>
                        <button class="btn btn-default" ng-click="submitPair()" data-dismiss='modal' ng-disabled="!enoughassigninfo()"><img  src="images/check.png" alt="check" width="20px"/>&nbsp;&nbsp;SUBMIT</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>