<link rel="stylesheet" type="text/css" href="../css/clientView.css">
<link rel="stylesheet" type="text/css" href="../css/navBar.css">
<div ng-controller="clientviewCtrl" class="clientPage">
    <div id="page">
        <form>
            
            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-wrap="false">
            <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox" id="videos" ng-hide="lastpage">
                    <!-- <div class="item-active"> -->
                        <iframe width="720" height="405" ng-src="{{curvid | trustUrl}}" frameborder="0"></iframe>
                    
                        <div ng-show="yesno()" class="buttons">
                            <div class="button1">
                                <button ng-click="yes()" type="button"class="unclicked circle"id="b1"><i class="glyphicon glyphicon-ok" class="i_button"></i></button>
                            </div>
                            <div class="button2">
                                <button ng-click="no()" type="button" class="unclicked circle"id="b2"><i class="glyphicon glyphicon-remove"class="i_button"></i></button>
                            </div>
                        </div>
                        <div ng-hide="yesno()" class="buttons">
                          <textarea name="q" id="transcript" hidden></textarea>
                          <div class="button1">
                            <button ng-click="start()" type="button" class="unclicked circle" id="b3"><img class="img_button"src="images/microphone-white.png" alt="microphone"/></button>
                          </div>
                          <div class="button2">
                            <button ng-click = "stopDictation()" type="button" class="unclicked circle button4" id="b4"><i class="glyphicon glyphicon-pause i_button"/></button>
                          </div>
                        </div>
                </div>
                <div ng-show="lastpage">
                  <h1>Done!</h1>
                  <h3>Submit:</h3>
                  <button ng-click="submit()" type="button"class="unclicked circle"id="b1"><i class="glyphicon glyphicon-ok" class="i_button"></i></button>
                </div>
                <a ng-show = "!lastpage" class="right carousel-control" href="#myCarousel" role="button" ng-click="next_vid();" data-slide="next" id="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </form>
    </div>
</div>
<!--<style type="text/css">
          .clientPage {
                background-color: #929090;
          }
          body {
                background-color: #929090;
          }
</style>-->

