<link rel="stylesheet" type="text/css" href="../css/navBar.css">
<div ng-controller="navCtrl">
<nav class="navbar navbar-default navbar-inverse" >
  <div class="container-fluid ourNav">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" id="navright">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-user"></i>&nbsp; {{user.fname}} 
           <span class="caret"></span></a>
          <ul class="dropdown-menu" id="options">
            <li><a ng-click="changeemail()">Change Email</a></li>
            <li><a ng-click="changepswd()">Change Password</a></li>
            <li><a ng-click="deleteuser()">Delete User</a></li>
            <li><a ui-sref="history" ng-show="isclient()">History</a></li>
            <li><a ui-sref="clientlist" ng-show="hasclient()">Client List</a></li>
            <li><a ui-sref="admin" ng-show="isadmin()">Admin Home</a></li>
            <li><a ng-click="logout()">Log Out</a></li>
          </ul>
        </li>
        <!--<li><a href="#"><i class="glyphicon glyphicon-cog"></i></a></li>
        <li><a id="listlink" ui-sref="history"><i class="glyphicon glyphicon-list"></i></a></li>-->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-click="logout()"><div title="Logout/Cerrar Sessión"><i class="glyphicon glyphicon-log-out"></i></div></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="modal fade" id="email" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2>Change Email</h2>
      </div>
      <div class="modal-body" id="modal-body">
        <div class="input-group">
          <input type="email" class="form-control" id="oldusername" placeholder="old email" name="oldusername" ng-model="user2.oldusername"/><br><br>
          <input type="email" class="form-control" id="newusername" placeholder="new email" name="newusername" ng-model="user2.newusername"/><br><br>
          <input type="password" class="form-control" id="password" placeholder="password" name="password" ng-model="user2.password"/><br><br>
          <button class="btn btn-default" ng-click="changeEmail(user2)" ng-disabled="!uinfo()"><img  src="images/check.png" alt="check" width="20px"/>&nbsp;&nbsp;Change Email</button><br><br>
          <div class="alert alert-danger" ng-show="reserror != '' ">
            <strong>Error: </strong> {{reserror.data.code}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="pswd" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2>Change Password</h2>
      </div>
      <div class="modal-body" id="modal-body">
        <div class="input-group">
          <input type="email" class="form-control" id="username" placeholder="email" name="username" ng-model="user2.username"/><br><br>
          <input type="password" class="form-control" id="oldpassword" placeholder="old password" name="oldpassword" ng-model="user2.oldpassword"/><br><br>
          <input type="password" class="form-control" id="newpassword" placeholder="new password" name="newpassword" ng-model="user2.newpassword"/><br><br>
           <button class="btn btn-default" ng-click="changePassword(user2)" ng-disabled="!pinfo()"><img  src="images/check.png" alt="check" width="20px"/>&nbsp;&nbsp;Change Password</button><br><br>
          <div class="alert alert-danger" ng-show="reserror != '' ">
            <strong>Error: </strong> {{reserror.data.code}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="delete" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2>Delete User</h2>
      </div>
      <div class="modal-body" id="modal-body">
        <div class="input-group">
          <input type="email" class="form-control" id="username2" placeholder="email" name="username" ng-model="user3.username"/><br><br>
          <input type="password" class="form-control" id="password2" placeholder="password" name="password" ng-model="user3.password"/><br><br>
          <button class="btn btn-default" ng-click="deleteUser(user3)" ng-disabled="!dinfo()"><img  src="images/check.png" alt="check" width="20px"/>&nbsp;&nbsp;Delete User</button><br><br>
          <div class="alert alert-danger" ng-show="reserror != '' ">
            <strong>Error: </strong> {{reserror.data.code}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>