<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <title>Greater Boston Legal Services Client List</title>
        <meta name="author"      content="Erica Schwartz"/>
        <meta name="revised"     content="March 20th, 2016"/>
        <meta name="description" content="Client List Page for GBLS Client Affadavit Creation Tool, Created by JumboCode Spring 2016"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="navBar.css">
        <link rel="stylesheet" type="text/css" href="clientlist.css">
        
    </head>  

<body>

<div ng-controller="listCtrl" ng-app="list">

<!-- - - - - - - - - - - - - - NAV BAR - - - - - - - - - - - - - -->
<nav class="navbar navbar-default navbar-inverse" >
  <div class="container-fluid ourNav">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" id="navright">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-user"></i>&nbsp; {{user.fname}} 
           <span class="caret"></span></a>
          <ul class="dropdown-menu" id="options">
            <li><a href="#">Change Password</a></li>
          </ul>
        </li>
        <li><a href="#"><i class="glyphicon glyphicon-cog"></i></a></li>
        <li><a id="listlink" href="history.html"><i class="glyphicon glyphicon-list"></i></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="home.html"><i class="glyphicon glyphicon-log-out"></i></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- - - - - - - - - - - - - - / NAV BAR - - - - - - - - - - - - -->

        <div class="page">
            <div class="row heading">
                <span class="pull-left"><img src="images/fa-user.png" alt="client" width="30px">&nbsp;<span class="medium">Client Name:</span></span>
                <span class="pull-right"><span class="big">% </span><span class="medium"> Complete:</span></span>
            </div>
            <div ng-repeat="client in data">
                <div class="panel panel-default">
                    <a ng-click="click(client.id)">
                        <div class="row body">
                            <span class="pull-left">{{client.name}}</span>
                            <span class="pull-right">{{client.progress}}</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- ================================= THE JAVASCRIPT =================================== -->        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    
        <!-- Latest compiled and minified JavaScript for Bootstrap CDN -->
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <!-- ANGULAR CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
        <script src="clientlist.js"></script>
        
    <!-- ================================= END OF THE JAVASCRIPT =================================== -->  

  </body>
</html>